* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}


body {
    background-color: #C23074;
}
.container {
    background-color: #FDFCF6;;
    max-width: 600px;
    margin: 80px auto;
    border-radius: 10px;
    padding: 25px;
}

.container h1 {
    font-size: 25px;
    color: #7860C6;
    font-weight: 500;
    border-bottom: 1px solid #7860C6;
    padding-bottom: 15px;
}

.quiz {
    padding: 25px 0;
}
.quiz h2 {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.btn {
    background: white;
    color: black;
    font-weight: 400;
    width: 100%;
    border: 1px solid black;
    padding: 12px;
    margin: 12px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #7860C6;
    color: white;
}

#next-button {
    background: #7860C6;
    color: white;
    font-weight: 600;
    width: 150px;
    padding: 10px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    justify-content: center;
}